# Database
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=attendance_db
# DB_USER=postgres
# DB_PASSWORD=your_db_password
# DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=attendance_management
DB_USER=postgres
DB_PASSWORD=shivam@1234
DB_DIALECT=postgres

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=15m